[user]
	name = Shane A. Stillwell
	useConfigOnly = true
	email = {{ .email | quote }}
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore
	editor = nvim
	autocrlf = input
[push]
	default = simple
[alias]
; http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
  alias = config --get-regexp alias
  ssemail = config user.email shanestillwell@gmail.com
  nvemail = config user.email shane@northernv.com
  cara = commit --amend --reset-author
  wow = log --all --graph --decorate --oneline --simplify-by-decoration
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  fl = log -u
  f = "!git ls-files | grep -i"
  gr = grep -Ii
  cp = cherry-pick
  st = status -s
  cl = clone
  ci = commit
  co = checkout
  cm = checkout master
  br = branch
  diff = diff --word-diff
  dc = diff --cached
  r = reset
  r1 = reset HEAD^
  r2 = reset HEAD^^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  rh2 = reset HEAD^^ --hard
  tagcommit = rev-list -n 1
  mup = merge --ff-only upstream/master
  imm = config remote.upstream.pushurl "You do NOT want to be doing that"
  cwip = !"git add -A; git ls-files --deleted -z | xargs -0 git rm; git commit -m \"wip\""
  identity = "! git config commit.gpgsign true; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"
  wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[credential]
	helper = osxkeychain
[commit]
	template = {{ .chezmoi.homeDir }}/.stCommitMsg
[user "gitlab"]
	email = {{ .email | quote }}
	signingkey = 0B4503DB11F64FEA
[gpg]
	program = gpg
[pager]
  branch = false
