<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>606EC789-B5DF-4BBA-87C8-CF9DF5B1B769</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>caniuse</string>
			<key>text</key>
			<string>Can I Use</string>
			<key>url</key>
			<string>https://caniuse.com/?search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>92E6B5D0-6B7B-4C4B-B3D9-8B14CA1484C0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>NPM</string>
			<key>url</key>
			<string>https://www.npmjs.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
