<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.fileimport.524D68C2-3247-40EE-A6CA-9230A2AB1B80</string>
	<key>theme</key>
	<string>alfred.theme.custom.78AA25FA-919E-4547-AC4A-7AD3D13864C7</string>
</dict>
</plist>
